APP_NAME="JEFAL Prive"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
FRONTEND_URL=http://localhost:5173

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_TIMEZONE=Africa/Casablanca

LOG_CHANNEL=stack
LOG_LEVEL=debug
CACHE_STORE=file

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jefal_prive
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=Root@root2025
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=contact@jefalprive.com
MAIL_FROM_NAME="${APP_NAME}"

CMI_MERCHANT_ID=
CMI_TERMINAL_ID=
CMI_SECRET=
CMI_BASE_URL=https://test.cmi.co.ma
